In [1]:
import pandas as pd

In [2]:
all_files = ['data/daily_sales_data_0.csv','data/daily_sales_data_1.csv','data/daily_sales_data_2.csv']

In [3]:
df_list=[]

In [4]:
for filename in all_files:
    df = pd.read_csv(filename)
    df_list.append(df)

In [5]:
mergerd_df = pd.concat(df_list,ignore_index=True)
mergerd_df

                product  price  quantity        date region
0           pink morsel  $3.00       546  2018-02-06  north
1           pink morsel  $3.00       549  2018-02-06  south
2           pink morsel  $3.00       577  2018-02-06   east
3           pink morsel  $3.00       519  2018-02-06   west
4           gold morsel  $9.99       580  2018-02-06  north
...                 ...    ...       ...         ...    ...
41155  vermilion morsel  $4.99       475  2022-02-14   west
41156      lapis morsel  $1.99       425  2022-02-14  north
41157      lapis morsel  $1.99       454  2022-02-14  south
41158      lapis morsel  $1.99       483  2022-02-14   east
41159      lapis morsel  $1.99       427  2022-02-14   west

[41160 rows x 5 columns]

In [6]:
# mergerd_df.to_csv("data/mergerd.csv",index=False)

In [23]:
df_final = mergerd_df.loc[mergerd_df['product'] == 'pink morsel'].copy()

df_final['price'] = df_final['price'].replace(r'[\$,]', '', regex=True).astype(float)

df_final['Sales'] = df_final['quantity'] * df_final['price']

In [24]:
df_final = df_final[['Sales', 'date', 'region']]

In [26]:
df_final.to_csv("formatted_data.csv")